<%##############################################################################
# application layout for all pages                                             #
#                                                                              #
# author: Sebastian Paintner                                                   #
#                                                                              #
# path: app/views/layouts/application.html.erb                                 #
##############################################################################%>
<!DOCTYPE html>
<html>
<head>
  <title><%= page_title yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all',
      'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' if request.fullpath != login_path %>
  <% if request.fullpath != login_path %>
  <section class="content">
    <%= render 'shared/flash' %>
    <%= yield %>
  </section>
  <% else %>
    <%= yield %>
  <% end %>

</body>
</html>
